.auth-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.auth-header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);


  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;

  height: 64px;

  font-weight: 650;
  font-size: 22px;
  
  

  background: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(16px);

  border-radius: 9999px;
  border: 1px solid rgba(0, 0, 0, 0.4);

  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15);

  pointer-events: none;
  
  z-index: 10;
}
